{{ define "main" }}
  <main>
    <article>
      <h1 class="title">{{ .Title }}</h1>
      {{ with .Params.subtitle }}<h3 class="subtitle">{{ . }}</h3>{{ end }}
      {{ partial "postMetaDetailed.html" . }}
      <div class="content">{{ .Content }}</div>
    </article>
  </main>
  <footer>
  {{ if .Site.Params.social }}
    <p id="social">
      find me around the web: {{ range $i, $e := .Site.Params.social }}{{ if $i }}, {{ end }}<a href="{{ .url }}">{{ .name }}</a>{{ end }} or <a href="mailto:dgv@keemail.me">mail</a> me.
    </p>
  {{ end }}
  </footer>
{{ end }}
